html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

body .content {
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 767px) {
  body {
    font-size: 7px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 8px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 9px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 10px;
  }
}

:root {
  --cal-bg-color: #fff;
  --cal-border-radius: 0;
  --cal-border-color: #E7E9Ed;
  --cal-today-bg-color: #10989E;
  --cal-today-color: #FFF;
  --cal-selected-bg-color: #E7E9Ed;
  --cal-selected-color: #333;
  --cal-weekend-bg-color: #FF8318;
  --cal-medical-bg-color: #224AAE;
  --cal-event-bg-color: #FFB318;
}

#cal *,
#cal *:before,
#cal *:after {
  box-sizing: border-box;
}

#cal {
  background-color: var(--cal-bg-color);
  border-radius: var(--cal-border-radius);
  border: solid 1px var(--cal-border-color);
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

#cal .cal-btn:active {
  border-radius: var(--cal-border-radius);
  box-shadow: 0 0 0 2px rgba(var(--cal-today-bg-color), 0.1);
}

#cal .cal-btn {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: button;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  min-width: 27px;
  outline: none;
  overflow: visible;
  padding: 0;
  text-align: center;
}

#cal .cal-header {
  align-items: center;
  display: flex;
  padding: 1.2rem 1.4rem;
}

#cal .cal-header__label {
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem;
  width: 100%;
}

#cal .cal-week {
  background-color: var(--cal-selected-bg-color);
  display: flex;
  flex-wrap: wrap;
}

#cal .cal-week span {
  flex-direction: column;
  flex: 0 0 14.28%;
  font-size: 1.2rem;
  font-weight: bold;
  max-width: 14.28%;
  padding: 1.2rem 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

#cal .cal-body {
  background-color: rgba(var(--cal-selected-bg-color), 0.3);
  display: flex;
  flex-wrap: wrap;
}

#cal .cal-date {
  align-items: center;
  background-color: #fff;
  border-radius: var(--cal-border-radius);
  display: flex;
  flex-direction: column;
  flex: 0 0 14.28%;
  max-width: 14.28%;
  padding: 1.2rem 0;
}

#cal .cal-date--active {
  cursor: pointer;
}

#cal .cal-date--today {
  background-color: var(--cal-today-bg-color);
  color: var(--cal-today-color);
}

#cal .cal-date--selected {
  background-color: var(--cal-selected-bg-color);
  color: var(--cal-selected-color);
}

#cal .cal-date--weekend {
  background-color: var(--cal-weekend-bg-color);
  color: var(--cal-today-color);
}

#cal .cal-date--disabled {
  border-radius: 0;
  cursor: not-allowed;
  opacity: 0.5;
}

.container {
  width: 96%;
  margin: 1.6rem auto;
  max-width: 42rem;
  text-align: center;
}

.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding: 30px;
  width:  100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition:visibility 0s linear 0.1s,opacity 0.3s ease;
}

body  .__overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 21;
  background-color: rgba(0,0,0,0.7);
}

body .open{
  visibility:visible;
  opacity: 1;
  transition-delay:0s;
}

.body .__close{
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  outline: none;
  background: none;
  font-size: 24px;
  color: #747474;
  font-weight: bold;
}

.__close :hover{
  color: #000;
}

body .__container{
  position: relative;
  z-index: 22;
  width: 400px;
  height: 200px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow:  0 0 10px #fff;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  text-align: center;
}